body{
  font-family: Arial; 
}
.finalList{
  display: grid;
  grid-template-columns: 185px 105px 50px;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
}
.todo-grid{
  display: grid;
  grid-template-columns: 180px 110px 50px;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.add-button{
  background-color: rgb(6, 157, 6);
  border-style: none;
  color: white;
  font-size: 12px;
  height: 30px;
  width: 70px;
}
.delete-button{
  background-color: red;
  border-style: none;
  color: white;
  font-size: 12px;
  height: 30px;
  width: 70px;
}
.input-text, .input-date{
  padding: 5px;
}